


.actualitesDetails {
    width: 90%;
    max-width: var(--maxWidth);
    
    margin: auto;
    margin-top: var(--paddingNewPageTop);
    background-color: var(--colorWhite);
    border-radius: var(--borderRadius);
    margin-bottom: var(--containerMarginBottom); 


    .container{
        width: var(--containerWidth);
        margin: auto;
        padding: 30px 0;

        .blockTitle, .blockDescription h2{
            text-align: var(--startTexte);
        }

        .returnToNews {

            p{ 
                display: inline-block; // Stabilise l'élément
                color: var(--blueClub);
                transition: background-color 0.3s ease;
                transition: transform .5s ease;

                &:hover{
                    color: var(--orangeClub);
                    transform: rotate(-5deg) scale(1.3);  
                    transition: transform .5s ease;
                }
            }
        }


        .blockTitle{
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: var(--paddingText);
        }

        .lineSplit{
            border: solid .5px var(--blueClub);
        }

        .blockDescription{
            display: flex;
            text-align: justify;
            
            flex-direction: column;
            justify-content: center;
            padding: var(--paddingText);
        }

        h1{
            color: var(--blueClub);
        }

        h2{
            color: var(--orangeClub);
        }




        .blockImage{

            display: grid;
            grid-template-columns: repeat(var(--blockImageGrid), 1fr);
            gap: 35px;
            justify-items: center;
            padding-top: 30px;
            

            img{
                border-radius: var(--borderRadius);
                width: 100%;
                
            }
        }
    }
    
}


@media screen and (min-width: 2500px)  {
    :root{
        --blockImageGrid: 4;
        --containerWidth: 95%;
        --paddingText: 20px 0;
        --startTexte: start;
        --containerMarginBottom: 300px;
    }
}

@media screen and (min-width: 2000px) and (max-width: 2499px) {
    :root{
        --blockImageGrid: 4;
        --containerWidth: 95%;
        --paddingText: 20px 0;
        --startTexte: start;
        --containerMarginBottom: 300px;
    }
}

@media screen and (min-width: 1500px) and (max-width: 1999px) {
    :root{
        --blockImageGrid: 4;
        --containerWidth: 95%;
        --paddingText: 20px 0;
        --startTexte: start;
        --containerMarginBottom: 300px;
    }
}

@media screen and (min-width: 1100px) and (max-width: 1499px) {
    :root{
        --blockImageGrid: 4;
        --containerWidth: 95%;
        --paddingText: 20px 0;
        --startTexte: start;
        --containerMarginBottom: 300px;
    }
}

@media screen and (min-width: 900px) and (max-width: 1100px) {
    :root{
        --blockImageGrid: 3;
        --containerWidth: 90%;
        --paddingText: 30px 0;
        --startTexte: center;
        --containerMarginBottom: 300px;
    }
}

@media screen and (min-width: 761px) and (max-width: 900px) {
    :root{
        --blockImageGrid: 2;
        --containerWidth: 90%;
        --paddingText: 40px 0;
        --startTexte: center;
        --containerMarginBottom: 300px;
    }
}

@media screen and (max-width: 761px) {
    :root{
        --blockImageGrid: 1;
        --containerWidth: 90%;
        --paddingText: 40px 0;
        --startTexte: center;
        --containerMarginBottom: 200px;
    }
}