
:root{
    --borderRadius: 15px;
}

.actualitesDetails {
    width: 90%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: var(--borderRadius);


    .container{
        width: 95%;
        margin: 0 auto;

        .blockTitle{
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px 0;
        }

        .lineSplit{
            border: solid .5px rgb(0, 0, 243);
        }

        .blockDescription{
            display: flex;
            
            flex-direction: column;
            justify-content: center;
            padding: 20px 0;
        }

        h1{
            color: var(--blueClub);
        }

        h2{

            color: var(--orangeClub);
        }




        .blockImage{

            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 50px;
            justify-items: center;
            

            img{
                border-radius: var(--borderRadius);
                width: 100%;
                
            }
        }
    }
    
}