

#returnLobby{
    position: fixed;
    top: 10px;
    left: 10px;
    width: 50px;
    height: auto;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navigation > * {
    padding: 10px;
    border-bottom: 0 solid var(--orangeClub);

    transition: border-bottom 0.1s ease-out
}

.navigation > *:hover{
    border-bottom: 2px solid var(--orangeClub);
}


.header h1{
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}

.LandingPage > * {
    height: 100vh;
    width: 100vw;
}



.blockSite img{
    border-radius: 50%;
    width: 30%;
    height: auto;

    transition: transform 0.2s

}

.LandingPage img:hover{
    transform: scale(1.05);
}

.blockSite{
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.blockTexte{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
}