
:root{
    --tailleEntreBloc: 100px;
}


.pagePresentation{

    height: var(--pagePresentationHeight); 
    
    position: relative;

    //background-image: url('https://www.w3schools.com/w3images/map.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; /* Centre l'image de fond */

    margin-bottom: var(--tailleEntreBloc); /* Espace pour le contenu en bas */

}



.landingPage{

    width: 80%;
    margin: 0 auto;


    .textLarge{
        font-size: var(--size_span_textLarge);
    }

    h1{
        color: var(--blueClub);
    }




    .blockPresentation{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 20px var(--tailleEntreBloc) 20px;
        width: 100%;
        padding-bottom: 80px;
        height: var(--heightBlock);

        & div:first-child{
            width: 70%;
        }

        & div:last-child{
            width: 30%;
        }
        

        & > div{
            height: 100%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: var(--borderRadius);
            }

            span{
                text-align: justify;
            }

        }
    }

    .blockNews{

        // margin-top: var(--pictureActualitesMarginTop); 
        padding: 0 20px var(--tailleEntreBloc) 20px;

        .swiper {
            height: 500px;
        }
        
        .swiperSlide {
            text-align: center;
            font-size: 18px;
        
            /* Center slide text vertically */
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        
        .swiperSlide a {
            display: block;
            width: var(--actualitesDetailsWidth);
            height: 90%;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;

            }

            video{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }



    }

    
    .blockEntrainement{

        display: flex;
        flex-direction: column;
        

        .title{
            border-bottom: solid 3px var(--blueClub);
            color: var(--blueClub);
            width: 40%;

            
            
        }

        h1{

            text-align: center;

        }
        
        

        .terrain{

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 10px 20px 40px 20px;
            width: 100%;
            padding-bottom: 80px;
            height: var(--heightBlock);

            .firstImage {
                grid-column: 1 / 2; // prend toute la ligne du haut
                grid-row: 1 / 3;
            }

            .secondImage {
                grid-column: 2 / 3; // bas gauche
                grid-row: 1 / 2;
            }

            .thirdImage {
                grid-column: 2 / 3; // bas droite
                grid-row: 2 / 3;
            }
        }

        .secondTerrain{
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            padding: 0 20px calc(var(--tailleEntreBloc) + 30px) 20px;
            width: 100%;
            height: var(--heightBlock);

            .firstImage {
                grid-column: 1 / 3; // prend toute la ligne du haut
                grid-row: 1 / 2;
            }

            .secondImage {
                grid-column: 1 / 2; // bas gauche
                grid-row: 2 / 3;
            }

            .thirdImage {
                grid-column: 2 / 3; // bas droite
                grid-row: 2 / 3;
            }
        }


        .secondTerrain, .terrain{


            & > div{
                width: 50%;
                height: 100%;
                padding: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 30px;

                text-align: justify;
                

                h2{
                    padding-top: -30px;
                    margin-bottom: 30px;
                    border-bottom : solid 3px black;
                    width: 40%;
                    text-align: center;
                    transition: all .1s ease;

                    &:hover{
                        color: var(--blueClub);
                        border-bottom: solid 3px var(--blueClub);
                        scale: 1.05;
                        transition: all .1s ease;
                    }
                }
            }

            .images {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 50% 50%;
                gap: 10px;
                width: 50%;
                height: var(--heightBlock); // ajuste selon ton besoin

                .firstImage {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: var(--borderRadius);
                }

                .secondImage {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: var(--borderRadius);
                }

                .thirdImage {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: var(--borderRadius);
                }
            }




        }

    }



    .infoNumberCount{


        h2{
            text-align: center;
        }

        .content{
            width: 100%;    

            display: flex;
            justify-content: center;

            .block {


                text-align: center;
                background-color: #E6E6E6; /* Gris très clair et doux */
                padding: 20px;  
                margin: 20px;
                border-radius: 20px; /* Arrondi plus soft */
                height: 250px;
                width: 300px;
                position: relative;
                border: 2px solid #b4b4b4; /* Gris légèrement plus foncé */
                box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2), 
                            -3px -3px 3px rgba(255, 255, 255, 0.2); /* Ombres plus subtiles */


                transform: translateY(0) rotateZ(0deg); /* Position et rotation par défaut */
                transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease; /* Transition douce */



                h1{

                    position: absolute;
                    top: 20%;
                    width: 90%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 35px;
                    color: var(--blueClub);
                }       

                p {
                    position: absolute;
                    top: 65%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 50px;
                    color: var(--orangeClub);
                    font-weight: bold;
                }


            }
            .block:hover {
                background-color: #D1D1D1; /* Gris plus foncé au survol */
                transform: translateY(-5px) rotateZ(-5deg); /* Effet de levée et rotation sur l'axe Z */
                box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4), 
                            -5px -5px 10px rgba(255, 255, 255, 0.3); /* Effet d'ombre plus marqué */
                transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease; /* Transition douce */
            }
            

            
        }
    }
}






@media screen and (min-width: 2500px)  {
    :root{
        --actualitesDetailsWidth: 90%;
        --pictureActualitesMarginTop: 200px;
        --pagePresentationHeight: 100vh;
    }

    .presentationImage {
        position: absolute;
        bottom: 0;
        width: 70%;
        text-align: center;
    }
}

@media screen and (min-width: 2000px) and (max-width: 2500px) {
    :root{
        --actualitesDetailsWidth: 90%;
        --pictureActualitesMarginTop: 100px;
        --pagePresentationHeight: 100vh;



    }

    .presentationImage {
        position: absolute;
        bottom: 0;
        width: 70%;
        text-align: center;
    }
}

@media screen and (min-width: 1500px) and (max-width: 2000px) {
    :root{
        --actualitesDetailsWidth: 95%;
        --pictureActualitesMarginTop: 100px;
        --pagePresentationHeight: 100vh;

    }

    .presentationImage {
        position: absolute;
        bottom: 0;
        width: 70%;
        text-align: center;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1500px) {
    :root{
        --actualitesDetailsWidth: 95%;
        --pictureActualitesMarginTop: 80px;
        --pagePresentationHeight: 100vh;

    }

    .presentationImage {
        position: absolute;
        bottom: 0;
        width: 70%;
        text-align: center;
    }
}

@media screen and (min-width: 900px) and (max-width: 1000px) {
    :root{
        --actualitesDetailsWidth: 95%;
        --pictureActualitesMarginTop: 100px;
        --pagePresentationHeight: 550px;
    }

    .presentationImage {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
    }
}


@media screen and (min-width: 761px) and (max-width: 900px) {

    :root{
        --actualitesDetailsWidth: 95%;
        --pictureActualitesMarginTop: 100px;
        --pagePresentationHeight: 550px;

    }  

    .presentationImage {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
    }
}

@media screen and (min-width: 450px) and (max-width: 761px) {

    :root{
        --actualitesDetailsWidth: 95%;
        --pictureActualitesMarginTop: 100px;
        --pagePresentationHeight: 450px;
    }  

    .presentationImage {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;

    }
}

@media screen and (max-width: 450px) {

    :root{
        --actualitesDetailsWidth: 95%;
        --pictureActualitesMarginTop: 100px;
        --pagePresentationHeight: 350px;

    }  

    .presentationImage {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;

    }
}
