
:root{
    --tailleEntreBloc: 100px;
}


.pagePresentation{

    height: var(--pagePresentationHeight); 
    
    position: relative;

    //background-image: url('https://www.w3schools.com/w3images/map.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; /* Centre l'image de fond */

    margin-bottom: var(--tailleEntreBloc); /* Espace pour le contenu en bas */


}



.landingPage{

    width: var(--widthPage);
    margin: 0 auto;


    .textLarge{
        font-size: var(--size_span_textLarge);
    }

    h1{
        color: var(--blueClub);
        text-align: var(--h1TextAlign);
    }


    .blockPresentation{
        display: flex;
        flex-direction: var(--blockPresentationDirection);
        justify-content: center;
        align-items: center;
        padding-top: 20px; 
        
        padding-bottom: 80px;
        height: var(--heightBlock);
        gap: var(--blockPresentationGap);

        width: calc(100% - 40px);
        margin: 0 20px;
        

        .text{
            width: var(--blockPresentationTextWidth); 
        }

        .image{
            width: var(--blockPresentationImageWidth); 
        }
        

        & > div{
            height: 100%;
            padding: 20px 0 0px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            text-align: justify;

            img{
                width: 100%;
                height: var(--presentationImageHeight);
                object-fit: cover;
                border-radius: var(--borderRadius);
            }

            span{
                text-align: justify;
            }

        }
    }

    .blockNews{

        // margin-top: var(--pictureActualitesMarginTop); 
        padding: 0 20px var(--tailleEntreBloc) 20px;

        .swiper {
            height: 500px;
        }
        
        .swiperSlide {
            text-align: center;
            font-size: 18px;
        
            /* Center slide text vertically */
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
        
        .swiperSlide a {
            display: block;
            width: var(--actualitesDetailsWidth);
            height: 90%;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;

            }

            video{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }



    }


    // terrainsImagesHeight
    // firstTerrainDirection
    // terrainDirection
    // terrainImagesWidth

    
    .blockEntrainement{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;

        h1{
            color: var(--blueClub);
        }

            
        .secondTerrain{
            display: flex;
            flex-direction: var(--firstTerrainDirection);
            justify-content: center;
            align-items: center;
            width: 100%;
            padding-bottom: var(--blockEntrainementPaddingBottom);
        }

        .terrain{

            display: flex;
            flex-direction: var(--terrainDirection); 
            justify-content: center;
            align-items: center;
            width: 100%;
            padding-bottom: 80px;
        }

        .secondTerrain, .terrain{

            gap: 20px;


            & > div{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h3{
                    width: 90%;
                    margin: auto;
                    text-align: center;
                    transition: all .1s ease;
                    margin-bottom: 30px;
                    color: var(--blueClub);
                    border-bottom: solid 3px var(--blueClub);

                    &:hover{
                        color: var(--blueClub);
                        border-bottom: solid 3px var(--blueClub);
                        scale: 1.05;
                        transition: all .1s ease;

                    }

                }

                span{
                    text-align: justify;
                }

            }

            .images {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 60% 40%;
                gap: 10px;
                width: var(--terrainImagesWidth); 
                height: var(--terrainsImagesHeight); 
                
                .firstImage {
                    grid-column: 1 / 3; // prend toute la ligne du haut
                    grid-row: 1 / 2;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: var(--borderRadius);
                }

                .secondImage {
                    grid-column: 1 / 2; // bas gauche
                    grid-row: 2 / 3;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: var(--borderRadius);
                }

                .thirdImage {
                    grid-column: 2 / 3; // bas droite
                    grid-row: 2 / 3;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: var(--borderRadius);
                }
            }




        

        }

        img{
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: var(--borderRadius);
        }

    }


    
    // chiffresWidth
    // contentChiffreWidth
    // contentChiffre
    // tailleChiffre
    // size_h2_large

    .infoNumberCount{
        display: flex;
        flex-direction: column;
        
        padding-bottom: 80px;

        h1{
            color: var(--blueClub);
        }


        .chiffres {

            background: #fff;
            border-radius: 50px;
            width: var(--chiffresWidth);     
            margin: 40px auto;
            padding: 20px 0;

            

            .contentChiffre{
                width: var(--contentChiffreWidth);
                margin: 0 auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                

                & > div:not(:last-child) {
                    border-bottom: var(--contentChiffre);
                }
        

                .chiffre {
                    
                    
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: var(--tailleChiffre);
                    height: var(--tailleChiffre);
                    padding: 24px 0px;
                    transition: transform 0.3s, box-shadow 0.3s;


                    &:hover  {
                        transform: scale(1.05);
                        color: var(--blueClub);
                    }

                    

                    h2 {
                        font-size: var(--size_h2_large);
                        // color: var(--blueClub, #007bff);
                        margin: 0;
                        font-weight: bold;
                        text-align: center;
                    }

                    
                }
            }
        }
    }
}






@media screen and (min-width: 2500px)  {
    :root{
        --actualitesDetailsWidth: 90%;
        --pictureActualitesMarginTop: 200px;
        --pagePresentationHeight: 100vh;
        --blockPresentationDirection: row;
        --paddingBlockPage: 40px 0px; 
        --heightBlock: 500px;
        --blockPresentationGap: 40px;
        --blockPresentationTextWidth: 50%;
        --blockPresentationImageWidth: 50%;
        --terrainsImagesHeight: 700px;
        --firstTerrainDirection: row-reverse;
        --terrainDirection: row;
        --terrainImagesWidth: 50%; 
        --chiffresWidth: calc(100% - 40px);
        --contentChiffreWidth: 80%;
        --tailleChiffre: 150px;
        --blockEntrainementPaddingBottom: 80px;
    }

    .presentationImage {
        position: absolute;
        bottom: 0;
        width: 70%;
        text-align: center;
    }
}

@media screen and (min-width: 2000px) and (max-width: 2500px) {
    :root{
        --actualitesDetailsWidth: 90%;
        --pictureActualitesMarginTop: 100px;
        --pagePresentationHeight: 100vh;
        --blockPresentationDirection: row;
        --paddingBlockPage: 40px 0px; 
        --heightBlock: 500px;
        --blockPresentationGap: 40px;
        --blockPresentationTextWidth: 50%;
        --blockPresentationImageWidth: 50%;
        --terrainsImagesHeight: 600px;
        --firstTerrainDirection: row-reverse;
        --terrainDirection: row;
        --terrainImagesWidth: 50%; 
        --chiffresWidth: calc(100% - 40px);
        --contentChiffreWidth: 80%;
        --tailleChiffre: 150px;
        --blockEntrainementPaddingBottom: 80px;



    }

    .presentationImage {
        position: absolute;
        bottom: 0;
        width: 70%;
        text-align: center;
    }
}

@media screen and (min-width: 1500px) and (max-width: 2000px) {
    :root{
        --actualitesDetailsWidth: 95%;
        --pictureActualitesMarginTop: 100px;
        --pagePresentationHeight: 100vh;
        --blockPresentationDirection: row;
        --paddingBlockPage: 40px 0px; 
        --heightBlock: 500px;
        --blockPresentationGap: 40px;
        --blockPresentationTextWidth: 55%;
        --blockPresentationImageWidth: 45%;
        --terrainsImagesHeight: 500px;
        --firstTerrainDirection: row-reverse;
        --terrainDirection: row;
        --terrainImagesWidth: 50%; 
        --chiffresWidth: calc(100% - 40px);
        --contentChiffreWidth: 80%;
        --tailleChiffre: 150px;
        --blockEntrainementPaddingBottom: 80px;

    }

    .presentationImage {
        position: absolute;
        bottom: 0;
        width: 70%;
        text-align: center;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1500px) {
    :root{
        --actualitesDetailsWidth: 95%;
        --pictureActualitesMarginTop: 80px;
        --pagePresentationHeight: 100vh;
        --blockPresentationDirection: row;
        --paddingBlockPage: 40px 0px; 
        --heightBlock: 500px;
        --blockPresentationGap: 40px;
        --blockPresentationTextWidth: 60%;
        --blockPresentationImageWidth: 40%;
        --terrainsImagesHeight: 400px;
        --firstTerrainDirection: row-reverse;
        --terrainDirection: row;
        --terrainImagesWidth: 50%; 
        --chiffresWidth: calc(100% - 40px);
        --contentChiffreWidth: 80%;
        --tailleChiffre: 135px;
        --blockEntrainementPaddingBottom: 80px;

    }

    .presentationImage {
        position: absolute;
        bottom: 0;
        width: 70%;
        text-align: center;
    }
}

@media screen and (min-width: 900px) and (max-width: 1000px) {
    :root{
        --actualitesDetailsWidth: 95%;
        --pictureActualitesMarginTop: 100px;
        --pagePresentationHeight: 550px;
        --blockPresentationDirection: row;
        --paddingBlockPage: 40px 0px; 
        --blockPresentationGap: 30px;
        --blockPresentationTextWidth: 55%;
        --blockPresentationImageWidth: 45%;
        --terrainsImagesHeight: 400px;
        --firstTerrainDirection: row-reverse;
        --terrainDirection: row;
        --terrainImagesWidth: 50%; 
        --chiffresWidth: calc(100% - 40px);
        --contentChiffreWidth: 80%;
        --tailleChiffre: 130px;
        --blockEntrainementPaddingBottom: 80px;
    }

    .presentationImage {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
    }
}


@media screen and (min-width: 761px) and (max-width: 900px) {

    :root{
        --actualitesDetailsWidth: 95%;
        --pictureActualitesMarginTop: 100px;
        --pagePresentationHeight: 550px;
        --blockPresentationDirection: row;
        --paddingBlockPage: 40px 0px; 
        --blockPresentationGap: 20px;
        --blockPresentationTextWidth: 55%;
        --blockPresentationImageWidth: 45%;
        --terrainsImagesHeight: 350px;
        --firstTerrainDirection: row-reverse;
        --terrainDirection: row;
        --terrainImagesWidth: 50%; 
        --chiffresWidth: calc(100% - 40px);
        --contentChiffreWidth: 95%;
        --tailleChiffre: 45%;
        --blockEntrainementPaddingBottom: 60px;
        

    }  

    .presentationImage {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
    }
}

@media screen and (min-width: 550px) and (max-width: 761px) {

    :root{
        --actualitesDetailsWidth: 95%;
        --pictureActualitesMarginTop: 100px;
        --pagePresentationHeight: 450px;
        --blockPresentationDirection: column;
        --paddingBlockPage: 40px 0px; 
        --blockPresentationGap: 20px;
        --blockPresentationTextWidth: 100%;
        --blockPresentationImageWidth: 100%;
        --terrainsImagesHeight: 450px;
        --firstTerrainDirection: column;
        --terrainDirection: column;
        --terrainImagesWidth: 100%; 
        --chiffresWidth: calc(100% - 40px);
        --contentChiffreWidth: 100%;
        --tailleChiffre: 45%;
        --blockEntrainementPaddingBottom: 40px;

    }  

    .presentationImage {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;

    }
}

@media screen and (min-width: 450px) and (max-width: 550px) {

    :root{
        --actualitesDetailsWidth: 95%;
        --pictureActualitesMarginTop: 100px;
        --pagePresentationHeight: 450px;
        --blockPresentationDirection: column;
        --paddingBlockPage: 40px 0px; 
        --blockPresentationGap: 0px;
        --blockPresentationTextWidth: 100%;
        --blockPresentationImageWidth: 100%;
        --terrainsImagesHeight: 500px;
        --firstTerrainDirection: column;
        --terrainDirection: column;
        --terrainImagesWidth: 100%; 
        --chiffresWidth: calc(90% - 40px);
        --contentChiffreWidth: 100%;
        --tailleChiffre: 45%;
        --blockEntrainementPaddingBottom: 30px;
    }  

    .presentationImage {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;

    }
}

@media screen and (max-width: 450px) {

    :root{
        --actualitesDetailsWidth: 95%;
        --pictureActualitesMarginTop: 100px;
        --pagePresentationHeight: 350px;
        --blockPresentationDirection: column;
        --paddingBlockPage: 40px 0px; 
        --blockPresentationGap: 0px;
        --blockPresentationTextWidth: 100%;
        --blockPresentationImageWidth: 100%;
        --terrainsImagesHeight: 450px;
        --firstTerrainDirection: column;
        --terrainDirection: column;
        --terrainImagesWidth: 100%; 
        --chiffresWidth: calc(100% - 40px);
        --contentChiffreWidth: 70%;
        --contentChiffre: 2px solid var(--blueClub);
        --tailleChiffre: 100%;
        --blockEntrainementPaddingBottom: 30px;

    }  

    .presentationImage {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;

    }
}
