

.inscription{
    width: 100vw;
    height: 100vh;
    color: rgb(255, 255, 255);
    display: flex;
}


.blockInscription{
    width: 50%;
    height: 100%;
    
    background-color: var(--blueClub);
}




.form{
    width: 70%;
    height: 90%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--blueClub);
}


.form > * {
    background-color: var(--blueClub);
}

.iconTarget{
    width: 15%;
    height: 15%;
    justify-content: start;

}

.inputName{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inputName input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inputName .labelInput{
    display: flex;
    flex-direction: column;
    width: 45%;
    
}



input{
    background-color: var(--blueClub);
    margin-bottom: 40px;
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    outline: none; 
}

.btnSubmit{
    width: 20%;
    height: 40px;
    margin: 0 auto;
    background-color: white;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}



.blockMoreInfo{
    width: 50%;
    height: 100%;
    margin: auto;
    background: linear-gradient(275deg, var(--orangeClub), 20% , var(--blueClub));
    border-left: solid 1px white;
}

.moreInfo{
    width: 70%;
    height: 100%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.moreInfo h3{
    padding-bottom: 20px;
    font-size: 20px;
}

ul{
    padding-left: 15px;
}

li{
    padding-bottom: 10px;
}

