


.annonce{

    width: 70%;
    height: 100%;
    margin: auto;
    background-color: antiquewhite;

}

.post{
    width: 50%;
    margin: auto;
    background-color: brown;
    padding-bottom: 100px;
}

.titlePost{
    font-size: 48px;
    color: red;
}

.descriptionPost{
    font-size: 25px;
    color: blue;
}