



.blockNavBar{

    

    .navBar{
        display: var(--navBarVisible);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;

        .content{
            
            overflow: hidden;
            background-color: var(--secondBlueClub);
            border: 3px solid var(--blueClub);
            padding: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            border-radius: 50px;
            margin: 20px 30px;
            height: 40px;

            


            p{
                color: var(--blueClub);
                margin: auto 10px;
                transition: color 0.3s ease-in-out;
                
            }

            p:hover{
                cursor: pointer;
                color: var(--orangeClub);
                transform: scale(1.2);
            }


            .nav_icon{

                display: flex;
                flex-direction: row;  
                margin: auto 0;


                p:hover{
                    cursor: pointer;
                }


            }

        }

    }

    .burgerNav{
        display: flex;
        

        img{
            position: fixed;
            top: 10px;
            left: 10px;
        
            width: 30px;
            height: 30px;
            z-index: 100000000;
            cursor: pointer;
        }

        .containt{
            display: none;
            flex-direction: column;
            justify-content: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 48%;
            height: 100%;
            background-color: var(--blueClub);
            z-index: 1000;

            a{
                color: rgb(255, 255, 255);
                text-align: center;
                margin: 20px 0px;
                text-decoration: none;
            }
        }
    }

}



@media screen and (min-width: 761px) {

    :root{
        --navBarVisible: block;
        --burgerNavVisible: none;
        
    }  
}

@media screen and (max-width: 761px) {

    :root{
        --navBarVisible: none;
        --burgerNavVisible: block;

    }  
}