
.blockNavBar{

    margin-bottom: var(--paddingNewPageTop);


    .navBar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;

        .content{
            
            overflow: hidden;
            background-color: var(--secondBlueClub);
            border: 3px solid var(--blueClub);
            padding: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            border-radius: 50px;
            margin: 20px 30px;
            height: 40px;


            p{
                color: var(--blueClub);
                margin: auto 10px;
                transition: color 0.3s ease-in-out;
                transition: transform 0.3s ease-in-out;
                
            }

            p:hover{
                cursor: pointer;
                color: var(--orangeClub);
                transform: scale(1.2);
            }


            .nav_icon{

                display: flex;
                flex-direction: row;  
                margin: auto 0;


                p:hover{
                    cursor: pointer;
                }


            }

        }

    }

}