

.content {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  padding: 20px;


  height: 30px;
  margin: auto;


  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.nav-icon{
  display: flex;
  flex-direction: row;  
  margin: auto 0;

}

.nav-icon > *{

  margin: 0 20px;
  color: white;
  font-size: 20px;


  

}
  

p, a{
  /* il faut centrer le texte en Y */
  margin: auto 0;
  color: rgb(0, 0, 0);
}