

.textLarge{
    font-size: var(--size_span_textLarge);

}


.presentation{
    width: var(--widthPage);
    background-color: red;
    margin: 0 auto;
    padding-top: var(--paddingNewPageTop);
    
    h1{
        color: var(--blueClub);
        text-align: var(--h1TextAlign);
    }


    .blockPresentation{
        display: flex;
        flex-direction: var(--blockPresentationDirection);
        justify-content: center;
        align-items: center;
        padding: var(--paddingBlockPage); 
        
        padding-bottom: 80px;
        height: var(--heightBlock);
        gap: var(--blockPresentationGap);

        width: calc(100% - 40px);
        margin: 0 20px;
        

        .text{
            width: var(--blockPresentationTextWidth); 
        }

        .image{
            width: var(--blockPresentationImageWidth); 
        }
        

        & > div{
            height: 100%;
            padding: 20px 0 0px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            text-align: justify;

            img{
                width: 100%;
                height: var(--presentationImageHeight);
                object-fit: cover;
                border-radius: var(--borderRadius);
            }

            span{
                text-align: justify;
            }

        }
    }


    .blockTeams {

        display: flex;
        flex-direction: column;
        border-radius: var(--borderRadius);
        padding-bottom: 80px;

        h1{
            color: var(--blueClub);
        }
        
        .teams{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 40px 20px;
            

            .team {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                width: var(--teamWidth);
                height: auto;
                margin: 10px;
                padding: 10px;
                border: 4px solid var(--blueClub);
                transition : border .5s ease;
                transition: transform .5s ease;
                border-radius: var(--borderRadius);

                h4{
                    border-bottom: 2px solid var(--blueClub);
                    text-align: center;
                    width: 150px; 
                    transform: border-bottom .5s ease;
                }

                img{
                    width: 100%;
                    height: var(--teamHeightImage);
                    object-fit: cover;
                    
                }
            }

            .team:hover{
                border: 4px solid var(--orangeClub);
                transform: scale(1.05);
                transition: border .5s ease;
                transition: transform .5s ease;
                
                h4{
                    border-bottom: 2px solid var(--orangeClub); 
                    transform: border-bottom .5s ease;
                }
            }
        }


    }

    .blockChiffres {
        display: flex;
        flex-direction: column;
        
        padding-bottom: 80px;

        h1{
            color: var(--blueClub);
        }


        .chiffres {

            background: #fff;
            border-radius: 50px;
            width: var(--chiffresWidth);     
            margin: 40px auto;
            padding: 20px 0;

            

            .contentChiffre{
                width: var(--contentChiffreWidth);
                margin: 0 auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                

                & > div:not(:last-child) {
                    border-bottom: 2px solid var(--blueClub);
                }
        

                .chiffre {
                    
                    
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: var(--tailleChiffre);
                    height: var(--tailleChiffre);
                    padding: 24px 0px;
                    transition: transform 0.3s, box-shadow 0.3s;


                    &:hover  {
                        transform: scale(1.05);
                        color: var(--blueClub);
                    }

                    

                    h2 {
                        font-size: var(--size_h2_large);
                        // color: var(--blueClub, #007bff);
                        margin: 0;
                        font-weight: bold;
                        text-align: center;
                    }

                    
                }
            }
        }
    }

    .blockTerrain{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px 0px;
        width: 100%;
        padding-bottom: 80px;

        h1{
            color: var(--blueClub);
        }

        .terrains{
            
            .secondTerrain{
                display: flex;
                flex-direction: var(--firstTerrainDirection);
                justify-content: center;
                align-items: center;
                width: 100%;
                padding-bottom: 80px;
            }

            .terrain{

                display: flex;
                flex-direction: var(--terrainDirection); 
                justify-content: center;
                align-items: center;
                width: 100%;
                padding-bottom: 80px;
            }

            .secondTerrain, .terrain{


                & > div{
                    width: 100%;
                    height: 100%;
                    padding: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    h2{
                        padding-top: -30px;
                        margin-bottom: 30px;
                        border-bottom : solid 3px black;
                        width: 40%;
                        text-align: center;
                        transition: all .1s ease;

                        &:hover{
                            color: var(--blueClub);
                            border-bottom: solid 3px var(--blueClub);
                            scale: 1.05;
                            transition: all .1s ease;

                        }

                    }

                }

                .images {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 60% 40%;
                    gap: 10px;
                    width: var(--terrainImagesWidth); 
                    height: var(--terrainImagesHeight); 
                    
                    .firstImage {
                        grid-column: 1 / 3; // prend toute la ligne du haut
                        grid-row: 1 / 2;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: var(--borderRadius);
                    }

                    .secondImage {
                        grid-column: 1 / 2; // bas gauche
                        grid-row: 2 / 3;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: var(--borderRadius);
                    }

                    .thirdImage {
                        grid-column: 2 / 3; // bas droite
                        grid-row: 2 / 3;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: var(--borderRadius);
                    }
                }




            }

        }

        img{
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: var(--borderRadius);
        }
    }

    .blockContact{
        .contact{
            padding: 20px 20px;

            span {
                a{
                    color: var(--blueClub);
                    text-decoration: none;
                    transition: color 0.3s ease;

                    &:hover {
                        color: var(--orangeClub);
                    }
                }
            }
        }
    }


}





@media screen and (min-width: 2500px)  {
    :root{
        --blockPresentationTextWidth: 50%;
        --blockPresentationImageWidth: 50%;
        --blockPresentationDirection: row;
        --heightBlock: 500px;
        --presentationImageHeight: 100%;
        --teamWidth: 220px;
        --teamHeightImage: 100%;
        --tailleChiffre: 150px;
        --contentChiffreWidth: 80%;
        --h1TextAlign: start;
        --paddingBlockPage: 40px 0px; 
        --blockPresentationGap: 40px;
        --terrainImagesHeight: 700px;
        --terrainDirection: row;
        --firstTerrainDirection: row-reverse;
        --terrainImagesWidth: 50%; 
        --chiffresWidth: calc(100% - 40px);

    }

}

@media screen and (min-width: 2000px) and (max-width: 2500px) {
    :root{
        --blockPresentationTextWidth: 50%;
        --blockPresentationImageWidth: 50%;
        --blockPresentationDirection: row;
        --heightBlock: 500px;
        --presentationImageHeight: 100%;
        --teamWidth: 220px;
        --teamHeightImage: 100%;
        --tailleChiffre: 150px;
        --contentChiffreWidth: 80%;
        --h1TextAlign: start;
        --paddingBlockPage: 40px 0px;
        --blockPresentationGap: 40px;
        --terrainImagesHeight: 600px;
        --terrainDirection: row;
        --firstTerrainDirection: row-reverse;
        --terrainImagesWidth: 50%; 
        --chiffresWidth: calc(100% - 40px);

    }
}

@media screen and (min-width: 1500px) and (max-width: 2000px) {
    :root{
        --blockPresentationTextWidth: 55%;
        --blockPresentationImageWidth: 45%;
        --blockPresentationDirection: row;
        --heightBlock: 500px;
        --presentationImageHeight: 100%;
        --teamWidth: 220px;
        --teamHeightImage: 100%;
        --tailleChiffre: 150px;
        --contentChiffreWidth: 80%;
        --h1TextAlign: start;
        --paddingBlockPage: 40px 0px;
        --blockPresentationGap: 40px;
        --terrainImagesHeight: 500px;
        --terrainDirection: row;
        --firstTerrainDirection: row-reverse;
        --terrainImagesWidth: 50%; 
        --chiffresWidth: calc(100% - 40px);

    }
}

@media screen and (min-width: 1000px) and (max-width: 1500px) {
    :root{
        --blockPresentationTextWidth: 60%;
        --blockPresentationImageWidth: 40%;
        --blockPresentationDirection: row;
        --heightBlock: 500px;
        --presentationImageHeight: 100%;
        --teamWidth: 220px;
        --teamHeightImage: 100%;
        --tailleChiffre: 135px;
        --contentChiffreWidth: 80%;
        --h1TextAlign: start;
        --paddingBlockPage: 40px 0px;
        --blockPresentationGap: 40px;
        --terrainImagesHeight: 400px;
        --terrainDirection: row;
        --firstTerrainDirection: row-reverse;
        --terrainImagesWidth: 50%; 
        --chiffresWidth: calc(100% - 40px);

    }
}

@media screen and (min-width: 900px) and (max-width: 1000px) {
    :root{
        --blockPresentationTextWidth: 55%;
        --blockPresentationImageWidth: 45%;
        --blockPresentationDirection: row;
        --heightBlock: 500px;
        --presentationImageHeight: 100%;
        --teamWidth: 220px;
        --teamHeightImage: 100%;
        --tailleChiffre: 130px;
        --contentChiffreWidth: 80%;
        --h1TextAlign: start;
        --paddingBlockPage: 40px 0px;
        --blockPresentationGap: 30px;
        --terrainImagesHeight: 400px;
        --terrainDirection: row;
        --firstTerrainDirection: row-reverse;
        --terrainImagesWidth: 50%; 
        --chiffresWidth: calc(100% - 40px);

    }
}

@media screen and (min-width: 761px) and (max-width: 900px) {
    :root{
        --blockPresentationTextWidth: 55%;
        --blockPresentationImageWidth: 45%;
        --blockPresentationDirection: row;
        --heightBlock: 500px;
        --presentationImageHeight: 100%;
        --teamWidth: 220px;
        --teamHeightImage: 100%;
        --tailleChiffre: 45%;
        --contentChiffreWidth: 95%;
        --h1TextAlign: start;
        --paddingBlockPage: 40px 0px;
        --blockPresentationGap: 20px;
        --terrainImagesHeight: 600px;
        --terrainDirection: row;
        --firstTerrainDirection: row-reverse;
        --terrainImagesWidth: 50%;
        --chiffresWidth: calc(100% - 40px);
    }
}

@media screen and (min-width: 550px) and (max-width: 761px) {

    :root{
        --blockPresentationTextWidth: 100%;
        --blockPresentationImageWidth: 100%;   
        --blockPresentationDirection: row;  
        --heightBlock: 500px; 
        --presentationImageHeight: 300px;
        --teamWidth: 40%;
        --teamHeightImage: 300px;
        --tailleChiffre: 45%;
        --contentChiffreWidth: 100%;
        --h1TextAlign: center;
        --paddingBlockPage: 40px 0px;
        --blockPresentationGap: 20px;
        --terrainImagesHeight: 700px;
        --terrainDirection: column;
        --firstTerrainDirection: column;
        --terrainImagesWidth: 100%; 
        --chiffresWidth: calc(100% - 40px);

    }  

}


@media screen and (min-width: 450px) and (max-width: 550px) {

    :root{
        --blockPresentationTextWidth: 100%;
        --blockPresentationImageWidth: 100%;   
        --blockPresentationDirection: column;  
        --heightBlock: 500px; 
        --presentationImageHeight: 300px;
        --teamWidth: 85%;
        --teamHeightImage: 300px;
        --tailleChiffre: 45%;
        --contentChiffreWidth: 100%;
        --h1TextAlign: center;
        --paddingBlockPage: 40px 0px;
        --blockPresentationGap: 0px;
        --terrainImagesHeight: 700px;
        --terrainDirection: column;
        --firstTerrainDirection: column;
        --terrainImagesWidth: 100%; 
        --chiffresWidth: calc(80% - 40px);

    }  

}

@media screen and (max-width: 450px) {

    :root{
        --blockPresentationTextWidth: 100%;
        --blockPresentationImageWidth: 100%;
        --blockPresentationDirection: column;
        --presentationImageHeight: 300px;
        --teamWidth: 90%;
        --teamHeightImage: 250px;
        --tailleChiffre: 100%;
        --contentChiffreWidth: 70%;
        --h1TextAlign: center;
        --paddingBlockPage: 40px 0px;
        --blockPresentationGap: 0px;
        --terrainImagesHeight: 450px;
        --terrainDirection: column;
        --firstTerrainDirection: column;
        --terrainImagesWidth: 100%; 
        --chiffresWidth: calc(80% - 40px);
        
    } 
}
