
:root {
    --orangeClub: #f1870f;
    --blueClub: #0f82d7;
    --colorBackGround: #F2F2F2;
  }

html, body {
    background-color: var(--colorBackGround);
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
